@import '../../scss/variables.scss';


.Projects {
  width: 100%;

  .Container {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (max-width: 1092px) {
      justify-content: center;
    }
  }
}