@import '../../scss/variables.scss';

.ContactsPage {
  text-align: center;
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 0 1fr;
  position: relative;
  height: 100%;
  

  .TitleBox {
    position: relative;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    width: 195px;

    @media screen and (max-width: 668px) {
      margin: 40px auto;
    }

    .Title {
      font-size: $fontxxl;
      color: $accent;

      @media screen and (max-width: 668px) {
        font-size: $fontxl;
      }
  
      &::after {
        position: absolute;
        content: '';
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 4px;
        background: $accent;

        @media screen and (max-width: 668px) {
          top: 40px;
          width: 80%;
        }
      }
    }
  }

  .Contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: $fontlg;
      margin: 30px 0 10px 0;

      @media screen and (max-width: 668px) {
        font-size: $fontm;
      }
    }

    span {
      font-size: $fontsm;
      font-weight: 500;

      @media screen and (max-width: 668px) {
        font-size: $fonts;
      }

      &:last-child {
        color: $gray;
      }
    }
  }
}