@import '../../scss/variables.scss';

.Header {
  background: $mainblack;
  color: $white;
  height: 50px;

  .Title {
    font-size: $fontsm;
    font-weight: 500;

    span {
      color: $accent;
    }
  }
}