@import '../../scss/variables.scss';

.Footer {
  background: $mainblack;
  color: $white;
  font-weight: 500;
  height: 65px;

  .Container {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
    position: relative;

    .Social {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      svg {
        width: 37px;
        height: 37px;
        margin-left: 35px;
      }

      .Icon1 {
        margin-left: 0;
        g {
          path {
            transition: fill .2s linear;
          }
        }

        &:hover {
          g {
            path {
              fill: $accent;
            }
          }
        }
      }
    
      .Icon2 {
        path {
          transition: fill .2s linear;
        }

        &:hover {
          path {
            fill: $accent;
          }
        }
      }
    }

    .Owner {
      position: absolute;
      right: 20px;

      @media screen and (max-width: 668px) {
        position: unset;
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 668px) {

    height: 80px;

    .Container {
      flex-direction: column;
    }
  }
}

