@import '../../scss/variables.scss';

.HomePage {
  flex: 1 0 auto;
  position: relative;

  .Container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 450px;
    padding: 0 10px;
  }

  .Top {
    background: $grayblack;

    .Image {
      position: absolute;
      z-index: 0;
    }
  
    .Description {
      color: $white;
      text-align: center;
      z-index: 1;
      font-weight: 700;

      h1 {
        font-size: $fontxl;
        margin-bottom: 20px;
      }

      span {
        color: $accent;
      }

      h3 {
        font-size: $fontlg;
        margin-bottom: 20px; 
      }

      p {
        font-size: $fontsm;
        margin-bottom: 40px;
      }

      button {
        width: 200px;
        height: 60px;
        background: $accent;
        border-radius: 10px;
        border: none;
        color: $white;
        font-weight: 500;
        font-size: $fontsm;
        cursor: pointer;
        transition: all .3s linear;

        &:hover {
          box-shadow: 0 5px 0 rgba(215, 128, 34, .5);
          transform: translateY(-3px);
        }
      }
    }
  }

  .Bot {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .ContainerSkills {
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Skills {
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: $fontlg;
      }

      p {
        width: 450px;
        font-size: $fontsm;
      }
    }
  }
}